
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
         h1,
         h2,
         h3 {
              font-family: "Itim", sans-serif;
              font-weight: 500;
              text-align: center;
              color: #CC0000
         }
         .container {
        width: 60%;
        margin: auto;
        background: rgb(255, 255, 255);
        padding: 20px;
        box-shadow: 0 0 10px rgba(214, 183, 183, 0.1);
        margin-top: 50px;
    }
         p {
              font-family: "Itim", sans-serif;
              font-weight: 500;
              text-align: center;
              color: #CC0000
        }    
        button {
        font-family: "Itim", sans-serif;
        font-weight: 500;
        /* Light */
        background-color: #4CAF50;
        color: rgb(238, 60, 60);
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #11be1a;
    }
    img{
        align-items: center;
    }
    body{
        background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20211219/pngtree-cute-pastel-background-aesthetic-image_928060.jpg);
    }
